/* some style */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

.match {
    display: flex;
    padding: 10px;
    margin: 30px;
    box-shadow: 0 7px 20px 0 rgba(12,38,69,0.2);
}

.score {
    margin: 0 5px;
    font-weight: 600;
}